.input{
	padding:10px 10px 10px 5px;
  	display:block;
 	width:350px;
 	border-radius: 1.5rem;
  	border:none;
  	margin-left: auto;
  	margin-right: auto;

}
#container_books{
	color: white;
}
#container_input{
	margin: auto;
}
#show  tr{
	margin-left: auto;
	margin-right: auto;
}