{% extends 'base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock title %}
{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">{% endblock %}
{% block content %}
	<div class="container mt-5" id="container_input">
		<h2 class="text text-center display-3" style="color:white;">Find A Book</h2>
		<input id="keyword" type="text" placeholder="Search" class="input">
		
	</div>
	<div class="container mt-5" id="container_books">
		<div class="table-responsive">
			<table id="show" class="table table-striped table-dark table-hover table-bordered">
				
			</table>
		</div>
	</div>
	{% block scripts %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript">
		$("#keyword").keyup(function(){
			let search_key = $("#keyword").val();
			let url_source = "/data?q=" + search_key;
			$.ajax({
				url : url_source,
				success : function(show){
					let dataToShow = $("#show");
					dataToShow.empty();
					for(i=0; i<show.items.length; i++){
						let title = show.items[i].volumeInfo.title;
						let author = show.items[i].volumeInfo.authors;
						let publisher = show.items[i].volumeInfo.publisher;
						let publishedDate = show.items[i].volumeInfo.publishedDate;
						let ISBN = show.items[i].volumeInfo.industryIdentifiers[1].identifier;
						let image = show.items[i].volumeInfo.imageLinks.smallThumbnail;
						dataToShow.append('<tr><td><img src=' + image + '></td><td><ul><li>Title &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: ' + title + '</li><li>Author &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: ' + author + '</li><li>Publisher &nbsp;: ' + publisher + '</li><li>Year &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: ' + publishedDate + '</li><li>ISBN &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: ' + ISBN + '</li></ul></td></tr>');
					}
				}
			});
		});
	</script>
	{% endblock %}

{% endblock %}